<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        {% image "@AcmeWellographBundle/Resources/public/images/wellograph-favicon.ico" %}
            <link rel="shortcut icon" href="{{ asset_url }}" type="image/x-icon">
        {% endimage %}

        <title>Wellograph</title>
        <!-- Le styles -->
       
        {% stylesheets filter="cssrewrite"
            "bundles/acmewellographsite/css/pre-order.css" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}     

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

            <nav class="navbar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            {% image "@AcmeWellographBundle/Resources/public/images/logo-black.png" %}
                                <img src="{{ asset_url  }}" />
                            {% endimage %}
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                            
                            
                        <h1 class="success-header">HTTP Error 404 - File or Directory not found<br></h1>
                        <h6 class="success-content">you have requested a page that does not exist.<br> there is an error in the URL you typed or that the page you want has been moved (renamed).</h6>


                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
	    <div class="container">
	        <div class="row">
		    <div class="col-sm-6">
		        <div>
		        </div>
		    </div>
            <div class="col-sm-6">
		        <div class="copyright">
                    &#169; 2013-2014 Wellograph Co., Ltd
		        </div>
		    </div>
	        </div>
	    </div>
        </footer>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

         

        {% javascripts
            "@AcmeWellographBundle/Resources/public/js/jquery-2.1.0.js"
            "@AcmeWellographBundle/Resources/public/bootstrap/js/bootstrap.min.js" %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        

    </body>
</html>
