{ 
	"response": 
	{ 
		"status":"{{ status | default('')}}",
		"message":"{{ message | default('')}}", 
		"code": "{{ code | default('')}}", 
		"api_description":"{{ description | default('')}}" 
	}
}