{ 
  "response": 
  { 
    "status":"{{ status | default('')}}",
    "message":"{{ message | default('')}}", 
    "code": "{{ code | default('')}}", 
    "api_description":"{{ description | default('')}}" 
  },

  "result":{

  {% if sumSteps != '' %}
     "sum_steps": {{sumSteps | raw }}
  {% else %} 
      "sumSteps": null
  {% endif %}

    "total_steps":"{{ totalSteps | default(0)}}", 
    "total_amount":"{{ totalAmount | default(0)}}"
  }
}