<html>
      <head>
          <script src="//code.jquery.com/jquery-1.10.2.js"></script>
          <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
          <script type = "text/javascript">
                function closeIt()
                {
                  $('#loader').show();
                }
                window.onbeforeunload = closeIt;
          </script>
          <style>
          .loader {
              position: fixed;
              left: 0px;
              top: 0px;
              width: 100%;
              height: 100%;
              z-index: 999;
              background: url('http://wellographreport.blob.core.windows.net/img/loading.gif') 50% 50% no-repeat rgb(0,0,0);
              display:none;
              opacity:0.5;
             
          }
          </style>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
                {% image "@AcmeWellographBundle/Resources/public/images/wellograph-favicon.ico" %}
                    <link rel="shortcut icon" href="{{ asset_url }}" type="image/x-icon">
                {% endimage %}

                <title>Wellograph</title>
                <!-- Le styles -->

                {% stylesheets filter="cssrewrite"
                    "bundles/acmewellographsite/css/pre-order.css" %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %} 
                
                  <style>
                  .place-order-btn {
                  width: 20%;
                  }
                  </style>
                  {% set num = 1 %}
                  <style>
                  table, th, td {
                      border: 1px solid black;
                      border-collapse: collapse;
                  }
                  th, td {
                      padding: 5px;
                  }
                  .circular {
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    }
          </style>
         <style>
                .user {
                  margin-top: 35px;
                  margin-bottom: 25px;
                  margin-left: 10%;
                  font-size:20px;
                  font-weight:1000;
                }
            </style>

    </head>
    <body>
        <div class="loader" id="loader" ></div>
        <nav class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        {% image "@AcmeWellographBundle/Resources/public/images/logo-black.png" %}
                            <img src="{{ asset_url  }}" />
                        {% endimage %}
                    </div>
                </div>
            </div>
        </nav>
    <br><br><br>             
    <center> <b><u><font size="6">Walk For Life Score</font> </center></b></u>
      <div class="user">
          <b><font size="5">user&nbsp;:&nbsp;&nbsp;{{username}}</font></b>
      </div>
    <center> 
        <table width = "80%" border="100" cellspacing="0" cellpadding="0" >
          <tr>
            <td align="center" valign="top" style="font-family:Helvetica,'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Verdana,sans-serif;color:#000000;background-color:#FF99CC;font-size:18px;font-weight:400;line-height:24px;padding-top:6px">PAIR ID</td>
            <td align="center" valign="top" style="font-family:Helvetica,'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Verdana,sans-serif;color:#000000;background-color:#FF99CC;font-size:18px;font-weight:400;line-height:24px;padding-top:6px">SERIAL NUMBER</td>
            <td align="center" valign="top" style="font-family:Helvetica,'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Verdana,sans-serif;color:#000000;background-color:#FF99CC;font-size:18px;font-weight:400;line-height:24px;padding-top:6px">FROM DATE</td>
            <td align="center" valign="top" style="font-family:Helvetica,'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Verdana,sans-serif;color:#000000;background-color:#FF99CC;font-size:18px;font-weight:400;line-height:24px;padding-top:6px">TO DATE</td>
            <td align="center" valign="top" style="font-family:Helvetica,'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Verdana,sans-serif;color:#000000;background-color:#FF99CC;font-size:18px;font-weight:400;line-height:24px;padding-top:6px">STEPS</td> 
            <td align="center" valign="top" style="font-family:Helvetica,'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Verdana,sans-serif;color:#000000;background-color:#FF99CC;font-size:18px;font-weight:400;line-height:24px;padding-top:6px">AMOUNT</td>
          </tr>
    
          {% set sumSteps = 0 %}
          {% set sumAmount = 0 %}
          {% for arrSumStep in arrSumSteps %}
            <tr>              
                <td>{{ arrSumStep['pair_id'] }}</td>
                <td>{{ arrSumStep['serial_number'] }}</td>
                <td align="center">{{ arrSumStep['from_date'] }}</td>
                <td align="center">{{ arrSumStep['to_date'] }}</td>
                <td align="right" style="color:#FF75A3;font-weight:300;">{{ arrSumStep['steps']|number_format }}</td>
                <td align="right" style="color:#FF75A3;font-weight:300;">{{ arrSumStep['amount']}}</td>
                {% set sumSteps = sumSteps + arrSumStep['steps'] %}
                {% set sumAmount = sumAmount + arrSumStep['amount'] %}
            </tr>
          {% endfor %}
          <tr>              
              <td colspan = "4" align="center" style="font-family:Helvetica,'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Verdana,sans-serif;color:#000000;background-color:#FFE0F0;font-size:18px;font-weight:500;line-height:22px;padding-top:6px" >total</td>
              <td align="right" style="font-family:Helvetica,'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Verdana,sans-serif;color:#FF75A3;font-weight:600;line-height:22px;padding-top:6px">{{sumSteps|number_format}}&nbsp;(Steps)</td>
              <td align="right" style="font-family:Helvetica,'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Verdana,sans-serif;color:#FF75A3;font-weight:600;line-height:22px;padding-top:6px">{{sumAmount}}&nbsp;(Baths)</td>
          </tr>
        </table>
        <br> <br> 
  </center>
  </body>
  
  <footer >
        <div class="container">
            <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <div class="copyright">
                    &#169; 2013-2014 Wellograph Co., Ltd
                </div>
            </div>
            </div>
        </div>
    </footer>
</html>