@import "../bootstrap/less/bootstrap.less";

/* ==========================================================================
   Mixins
   ========================================================================== */

.font-face(@font-name, @font-path) {
  @font-face {
    font-family: @font-name;
    src: url('../fonts/@{font-path}.otf'),
    url('../fonts/@{font-path}.eot');
  }
}

/* http://css-tricks.com/centering-percentage-widthheight-elements/ */
/*.vertical-center {
  position: absolute;
  top: 50%;
  
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}*/

.break-word {
  word-break: break-all;
}

/* ==========================================================================
   Variables
   ========================================================================== */

.font-face(my-dinot-font, DINOT);
.font-face(my-light-font, DINOT-Light);
.font-face(my-medium-font, DINOT-Medium);
.font-face(my-bold-font, DINOT-Bold);

@normal-font-color: #222;

/* ==========================================================================
   Initialization
   ========================================================================== */

html {
  overflow-y: scroll;
}

html,
button,
input,
select,
textarea {
  color: @normal-font-color;
  font-family: my-light-font;
}

body {
  min-height: 630px;
  font: 16px/26px my-light-font;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 14px;
  color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 14px;
  color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 14px;
  color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 14px;
  color:    #999;
}
.placeholder-shim { /* jQuery plugin: jquery-html5-placeholer-shim for old browsers */
  font-size: 14px;
  color:    #999;
}

button[disabled] {
  /*color: rgb(176, 176, 176) !important;*/
}

html input[disabled] {
  color: rgb(176, 176, 176) !important;
  background-color: #fff !important;
}

textarea {
  resize: vertical;
}

h1 {
  font-family: my-medium-font;
}

h2 {
  font-family: my-medium-font;
  font-size: 45px;
  line-height: 54px;
}

h3 {
  font-family: my-medium-font;
  font-size: 20px;
  line-height: 30px;
}

a {

  text-decoration: none;

  &:visited {
    color: @normal-font-color;
  }

  &:hover {
    color: @normal-font-color;
    text-decoration: underline;
  }
}

label {
  font-weight: normal;
}

.container-fluid {
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

.form-control {
  border-radius: 0px;
  border: 1px solid #818285;
}

.btn {
  border-radius: 0px;
}

/* ===================
   ALL: Container
   =================== */

.navbar {
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid white;
  border-radius: 0px;
  margin-bottom: 0;
  z-index: 15;

  img {
    margin: 31px 0 27px;
  }
}

.picker {

  position: absolute;
  width: 65px;
  height: 42px;
  .clearfix();

  .amount {
    position: relative;
    float: left;
    width: 65%;
    height: 100%;
    background-color: white;

    div {

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      font-family: my-medium-font;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.79);
    }
  }

  .buttons {

    float: left;
    width: 35%;
    height: 100%;

    button {
      display: block;
      color: white;
      background-color: #a7a9ac;
      width: 100%;
      height: 50%;
      line-height: 50%;
      outline: none;
      padding: 0 0 6px 0;
      border: 0;
      border-top: 1px solid white;
      font-size: 25px;

      &:first-child {
        border-top: 0;
      }
    }
  }
}

/*.picker-with-price {

  position: absolute;
  width: 150px;
  height: 54px;
  .clearfix();

  .left {
    position: relative;
    float: left;
    width: 45%;
    height: 100%;
    text-align: right;
    font-size: 20px;

    .price {

      width: 100%;
      height: 24px;
      .vertical-center();
      padding-right: 17px;
      font-family: my-medium-font;
      font-size: 22px;
      color: rgba(0, 0, 0, 0.79);
    }
  }

  .right {

    position: relative;
    float: left;
    width: 50%;
    height: 100%;

    .picker {

    }
  }
}*/

section.choose-watch {

  background-color: #dbdbdb;

  .container-fluid .row .col-sm-6 {
    padding: 0;
  }

  .watch {
    height: 388px;
    position: relative;
    .clearfix();

    .name {

      position: absolute;
      top: 14px;
      left: 5%;
      
      div:first-child {
        font-family: my-medium-font;
        font-size: 24px;
        color: rgba(0, 0, 0, 0.79);
      }

      div.with {
        font-family: my-light-font;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.79);
      }

      div.edition {
        font-family: my-light-font;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.79);
        line-height: 18px;
      }
    }

    .price {
      position: absolute;
      left: 60%;
      bottom: 23px;

      font-family: my-medium-font;
      font-size: 22px;
      color: rgba(0, 0, 0, 0.79);

      @media (min-width: @screen-sm-min) {
        left: 60%;
      }

      @media (min-width: @screen-md-min) {
        left: 67%;
      }

      @media (min-width: @screen-lg-min) {
        left: 67%;
      }
    }

    .picker {

      right: 5%;

      @media (min-width: @screen-sm-min) {
        right: 7%;
      }

      @media (min-width: @screen-md-min) {
        right: 7%;
      }

      @media (min-width: @screen-lg-min) {
        right: 10%;
      }
      
      bottom: 14px;
    }
  }

  .left-watch {
    background: url(../images/watch-on-left.jpg) no-repeat center;
  }

  .right-watch {
    background: url(../images/watch-on-right.jpg) no-repeat center;
  }
}

section.limited {

  .container {
    .row {
      .col-sm-12 {

        margin: 50px 0 0px;

        div {
          font-family: my-dinot-font;
          font-size: 22px;
          .text-center();
        }
      }
    }
  }

}

section.ship-worldwide {

  .container {
    .row {
      .col-sm-12 {

        margin: 35px 0 10px;

        div {
          .text-center();
        }
      }
    }
  }

}

.box {

  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .box-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

section.choose-strap {

  .header {

    @media (min-width: @screen-sm-min) {
      padding: 0 2px;
    }
    

    h2 {
      font-size: 23px;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.79);
      margin-top: 40px;
    }
  }

  .row {

    @media (min-width: @screen-sm-min) {
      padding: 0 10px;
    }

    @media (min-width: @screen-md-min) {
      padding: 0 15px;
    }

    @media (min-width: @screen-lg-min) {
      padding: 0 30px;
    }

    .col-sm-4 {

      padding-left: 2px;
      padding-right: 2px;
      margin: 0 2px 2px 2px;
      background-color: #eee;

      @media (min-width: @screen-sm-min) {
        margin: 0px;
        background-color: white;
      }
      

      .strap {

        height: 336px;
        position: relative;

        .name {
          position: absolute;
          left: 10px;
          bottom: 26px;
          width: 210px;
          height: 22px;
          color: rgba(0, 0, 0, 0.79);
          font-family: my-medium-font;
          font-size: 20px;

          @media (min-width: @screen-sm-min) {
            width: 90px;
            bottom: 36px;
            line-height: 18px;
          }

          @media (min-width: @screen-md-min) {
            width: 140px;
            bottom: 36px;
            line-height: 26px;
          }

          @media (min-width: @screen-lg-min) {
            width: 210px;
            bottom: 25px;
          }
        }

        .price {
          position: absolute;
          left: 61%;
          bottom: 25px;
          width: 50px;
          height: 22px;
          color: rgba(0, 0, 0, 0.79);
          font-family: my-medium-font;
          font-size: 20px;

          @media (min-width: @screen-sm-min) {
            left: 47%;
          }

          @media (min-width: @screen-md-min) {
            left: 55%;
          }

          @media (min-width: @screen-lg-min) {
            left: 63%;
          }
        }

        .picker {
          width: 62px;
          height: 40px;
          right: 4%;
          bottom: 14px;
        }
      }

      .left-strap {
        background: url(../images/strap-on-left.jpg) no-repeat center;
      }

      .middle-strap {
        background: url(../images/strap-in-middle.jpg) no-repeat center;
      }

      .right-strap {
        background: url(../images/strap-on-right.jpg) no-repeat center;
      }
    }

  }
}

.order-info-header {
  margin-top: 80px;
  margin-bottom: 0px;
  .text-center();
  font-size: 23px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.79);
}

.order-info-col {
  @media (min-width: @screen-sm-min) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

section.address {

  margin: 10px 0;

  h3 {
    font-family: my-medium-font;
    font-size: 17px;
  }

  .full-name-label {
    display: block;
    text-align: center;
  }

  .shipping-to {

  }

  .line1-form-group {
    margin-bottom: 0px;
  }

  .line2-input {
    border-top: 0px;
  }

  .left-col {
    @media (min-width: @screen-sm-min) {
      padding-right: 2px;
    }
  }

  .right-col {
    @media (min-width: @screen-sm-min) {
      padding-left: 2px;
    }
  }
}

section.shipping-address {


}

section.billing-address {

}

section.contact-info {

  margin-top: 20px;

  h3 {
    font-family: my-medium-font;
    font-size: 16px;
  }

  .left-col {
    @media (min-width: @screen-sm-min) {
      padding-right: 2px;
    }
  }

  .right-col {
    @media (min-width: @screen-sm-min) {
      padding-left: 2px;
    }
  }
}

section.shipping-methods {

  h3 {
    font-family: my-medium-font;
    font-size: 17px;
  }

  div {

    input {
      margin-right: 5px;
    }
  }

  .inter-shipments {
    font-family: my-medium-font;
    font-size: 16px;
    line-height: 26px;
    margin: 20px 0 10px;
  }
}

section.summary {

  margin: 20px 0;
  padding: 15px 0;
  border-top: 1px solid #acadaf;
  border-bottom: 1px solid #acadaf;

  table {

    width: 100%;

    tr {

      td:first-child {
        width: 43%;
      }

      td:last-child {
        width: 18%;
        text-align: right;
      }

      td {

        height: 26px;

        
      }
    }

    tr.discount {
      font-family: my-bold-font;
    }

    tr.total {
      font-family: my-bold-font;
    }
  }
}

section.payment-info {

  h3 {
    font-family: my-medium-font;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 15px;

    span {
      display:inline-block;
      vertical-align: bottom;
      line-height: 20px;
      margin-left: 5px;
    }
  }

  padding: 0 15px 11px;
  margin: 5px 0 10px;
  border: 1px solid #adaeb1;
  background-color: #eee;

  .left-col {

    @media (min-width: @screen-sm-min) {
      padding-right: 2px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  .right-col {

    @media (min-width: @screen-sm-min) {
      padding-left: 2px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  .valid-thru-label {

    font-size: 14px;
    color: #333; 
    margin-top: 0px;
    margin-bottom: 2px;

    @media (min-width: @screen-sm-min) {
      margin-top: 2px;
      margin-bottom: 0px;
    }
  }

  .cvc-label {

    text-align: right;
    cursor: pointer;

    img {
      width: 35px;
      margin-top: 6px;
    }
  }
}

section.input-messages {

  border: 1px solid red;
  margin: 15px 0 10px;
  padding: 15px 15px 5px 15px;
}

.error-message {
  color: red;
}

.place-order-btn {
  margin-top: 25px;
  .button-variant(white; #000; #000);
  width: 57%;
  height: 50px;
  font-family: my-medium-font;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.place-order-spinner {
  height: 30px;
  margin: 34px 0 11px 0;
}

section.orders {

  .container {
    .container-fixed();

    @media (min-width: @screen-sm-min) {
      width: @container-sm;
    }
    @media (min-width: @screen-md-min) {
      width: @container-md;
    }
    @media (min-width: @screen-lg-min) {
      width: @container-md;
    }
  }

  .not-found {

    padding: 60px 0 0;
    text-align: center;
    font-size: 28px;
    line-height: 35px;
  }

  .thank-you {

    margin: 0 0 10px;
    background-color: #363636;

    .container {

      padding: 35px 0 50px;
      background: url(../images/thank-you.jpg) no-repeat center;

      @media (min-width: @screen-sm-min) {
        padding: 60px 0 68px;
      }

      h1 {
        font-family: my-light-font;
        font-size: 26px;
        line-height: 42px;
        color: white;
        padding-left: 5%;
      }
    }
  }

  h3 {
    font-family: my-medium-font;
    font-size: 18px;
    margin-bottom: 5px;
  }

  hr {
    color: #999;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .order-info {

    margin-top: 30px;
    .break-word();
    font-size: 17px;

    span {
      font-family: my-medium-font;
      font-size: 18px;
    }
  }

  table {

    width: 100%;
    margin: 0;

    thead {
      tr {

        height: 36px;

        th {
          font-family: my-medium-font;
          font-size: 18px;
        }

        th:nth-child(3) {
          text-align: center;
        }

        th:nth-child(4) {
          text-align: right;
        }

        th:last-child {
          text-align: right;
          padding-right: 10px;
        }
      }
    }

    tbody {
      tr {

        height: 26px;

        td:first-child {
          .break-word();
          min-width: 90px;
        }

        td:nth-child(3) {
          text-align: center;
        }

        td:nth-child(4) {
          text-align: right;
        }

        td:last-child {
          text-align: right;
          padding-right: 10px;
        }

        td.subtotal {
          background-color: #eee;
          padding-left: 10px;
          padding-top: 5px;
          font-size: 17px;
        }

        td.sales-tax {
          background-color: #eee;
          padding-left: 10px;
          font-size: 17px;
        }

        td.shipping {
          background-color: #eee;
          padding-left: 10px;
          font-size: 17px;
        }

        td.total {
          background-color: #eee;
          padding-left: 10px;
          padding-bottom: 7px;
          font-size: 17px;
        }
      }

      tr.blank {
        height: 5px;
      }
    }
  }

  .contact {
    margin: 40px 0 0;
    line-height: 24px;
  }
}

section.privacy-policy {

  .container {
    .container-fixed();

    @media (min-width: @screen-sm-min) {
      width: @container-sm;
    }
    @media (min-width: @screen-md-min) {
      width: @container-sm;
    }
    @media (min-width: @screen-lg-min) {
      width: @container-sm;
    }
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 40px;
  }
 
  a {
    color: #009FDF;
  }
}

section.sold-out {

  .header {

    padding: 100px 0 60px;
    margin: 0 0 10px;

    h1 {
      font-family: my-light-font;
      font-size: 28px;
      line-height: 35px;
      text-align: center;
    }
  }
}

footer {
  margin-top: 60px;
  padding: 264px 0 60px 0;
  background-color: black;

  ul {

    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    .clearfix();

    li {

      float: left;
      width: 33.33%;
      margin-right: 0px;
      .text-center();

      @media (min-width: @screen-sm-min) {
        width: auto;
        text-align: left;
        margin-right: 25px;
      }

      a {

        color: white;

        &:visited {
          color: white;
        }

        &:hover {
          color: white;
        }
      }
    }
  }

  .copyright {

    color: white;
    .text-center();

    @media (min-width: @screen-sm-min) {
      text-align: right;
    }
  }
}

.modal {

  overflow-y: auto;

  .modal-dialog {

    margin-top: 120px;
    @media (min-width: @screen-sm-min) {
      width: 650px;
    }
    @media (min-width: @screen-md-min) {
      width: 950px;
    }
    
    .modal-content {

      border: 4px solid #d1d1d1;
      border-radius: 0;
      .box-shadow(0 0px 0px rgba(255,255,255,1));

      .modal-header {

        background-color: #efedee;

      }

      .modal-body {

        padding: 0;

        .cvc-explain {

          width: 100%;
        }

        .cvc-close-modal {
          position: absolute;
          top: 0px;
          right: 0px;
          cursor: pointer;
        }
      }
    }
  }
}